[submodule "Walnut/vendor/imgui/src"]
	path = Walnut/vendor/imgui/src
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/thecherno/glfw
